.verticalLarge {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.verticalXLarge {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.verticalXXLarge {
	margin-top: 7.5rem;
	margin-bottom: 7.5rem;
}

.verticalXXXLarge {
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.bottomReg {
	margin-bottom: 2rem;
}

.bottomLarge {
	margin-bottom: 3rem;
}

.bottomXLarge {
	margin-bottom: 5rem;
}

.bottomXXLarge {
	margin-bottom: 7.5rem;
}

.bottomXXXLarge {
	margin-bottom: 10rem;
}

.width50 {
	max-width: 50%;
}