button {

	&.primary {
		background-color: var(--secondary);
		color: var(--background);

		&:hover {
			background-color: var(--secondary-bright);
		}
	}

	&.secondary {
		background-color: transparent;
		border: 1px solid var(--primary-dark);
		color: var(--primary);

		&:hover {
			color: var(--primary-bright);
			background-color: var(--primary-dark);
		}
	}
}