[
	{
		"url": "/",
		"title": "About Me"
	},
	{
		"url": "/case-studies",
		"title": "Case Studies"
	},
	{
		"url": "/articles",
		"title": "Articles"
	},
	{
		"url": "/projects",
		"title": "Projects"
	}
]