// Section
.section {

	.container {
		display: flex;

		h2 {
			color: var(--primary);
		}

		> div {
			padding-left: 1rem;
			padding-right: 3rem;
		}
	}

	.technicalSvg {
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 110vw;
			height: 115%;
			max-inline-size: unset;
			max-block-size: unset;
			opacity: 1;
			z-index: -2;
			
		}
	}

	.header {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 2rem;
		padding: 0 1rem;
	}
	
	.content {
		flex-direction: row;

		h3 {
			color: var(--primary);
		}

		.icon {
			padding: 0.5rem;
			display: block;
			background: var(--primary-dark);
			width: fit-content;
			border-radius: 0.5rem;

			svg {
				height: 1.6rem;
				color: var(--primary);
			}
		}
		
		// Columns
		.image {
			flex-basis: 50%;
			flex-grow: 1;
			flex-shrink: 1;
			position: relative;
		}
		.copy {
			flex-basis: 50%;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}