// Career component
.section {
	.area {
		display: flex;
		$linesArea: 12.5%;
		$companyArea: calc(100% - $linesArea);
	
		.companyArea {
			display: grid;
			grid-template-columns: $linesArea $companyArea;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}
	}

	.lines {
		content: '';
	}

	.company {
		position: relative;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 4rem;

		&:before {
			content: '';
			position: absolute;
			width: 2px;
			top: 0;
			bottom: 0;
			left: -1px; 
			background: var(--primary-dim);
		}
		
		h3 {
			margin-top: - .25rem;
			margin-bottom: .35rem;
		}

		h4 {
			font-size: .9rem;
			margin-bottom: .25rem;
			text-transform: none;
			letter-spacing: 0;
		}

		h5 {
			font-size: .9rem;
			margin-bottom: .25rem;
			opacity: .5;
		}

		p {
			margin-top: 2rem;
		}

		h3 {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: -1rem;
				width: 18px;
				aspect-ratio: 1/1;
				background-color: var(--primary-bright);
				border-radius: 99rem;
				border: 3px solid var(--background);
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:after {
				content: '';
				position: absolute;
				left: -1rem;
				width: 9px;
				aspect-ratio: 1/1;
				background-color: var(--background);
				border-radius: 99rem;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.position {
		display: grid;
		grid-template-columns: calc( var(--grid-32) * 4 ) 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
}