.section {
	background: var(--background-dim);
    border-bottom: 1px solid var(--primary-dark);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.profile {
	display: flex;
	flex-direction: row;
	gap: 2rem;

	img {
		border-radius: 99rem;
	}

	a {
		font-size: .875rem;
		font-weight: 400;
	}
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	row-gap: 1rem;
}

.project {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% / 2 - 1rem);
	gap: 1rem;
	border: 1px solid var(--primary-dark);
	border-radius: 1rem;
	padding: 1rem;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		.homepage {
			font-size: .8rem;
		}
	}
	
	.details {
		display: flex;
		flex-direction: row;
		gap: 3rem;

		.pushedAt {
			flex-grow: 1;
			font-family: var(--font-accent);
			font-size: .6rem;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			line-height: 1;
		}
	}
}

