.vertical {

	&Std {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	&Med {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	&Lrg {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	&XLrg {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	&XXLrg {
		margin-top: 7.5rem;
		margin-bottom: 7.5rem;
	}
	&XXXLrg {
		margin-top: 10rem;
		margin-bottom: 10rem;
	}

}


.bottom {

	&Med {
		margin-bottom: 2rem;
	}
	&Lrg {
		margin-bottom: 3rem;
	}
	&XLrg {
		margin-bottom: 5rem;
	}
	&XXLrg {
		margin-bottom: 7.5rem;
	}
	&XXXLrg {
		margin-bottom: 10rem;
	}

}

.width {
	&12-5 {
		max-width: 12.5%;
	}
	&25 {
		max-width: 25%;
	}
	&50 {
		max-width: 50%;
	}
	&75 {
		max-width: 75%;
	}
	&100 {
		max-width: 100%;
	}
}