// Fonts
:root {
	--font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	--font-accent: "Fira Code", monospace;
}

// Breakpoints and containers
:root {
	--breakpoint: 768px;
	--reading-width: 1000px;
}

// Fonts sizes
:root {
	--font-xs:	0.75rem;
	--font-s: 	0.90rem;
	--font-r: 	1.00rem;
	--font-m: 	1.20rem;
	--font-l: 	2.00rem;
	--font-xl: 	3.75rem;
}

// Spacing sizes
:root {
	--size-4-: 0.25rem;
	--size-3-: 0.35rem;
	--size-2-: 0.50rem;
	--size-1x: 1.00rem;
	--size-2x: 2.00rem;
	--size-3x: 3.00rem;
	--size-4x: 4.00rem;
	--size-5x: 5.00rem;
}

// Dark mode theme
:root[data-theme='dark'] {
	--primary-bright:	#ffffff;
	--primary:			#d9d9d9;
	--primary-dim:		#666666;
	--primary-dark:		#141414;
	--secondary: 		#ffed7f;
	--secondary-bright: #ffea5f;
	--background: 		#060708;
	
	color-scheme: dark;
} 

// Light mode theme
:root[data-theme='light'] {
	--primary-bright:	#000000;
	--primary: 			#2e2e2e;
	--primary-dim:		#666666;
	--primary-dark:		#dfdfdf;
	--secondary: 		#002aff;
	--secondary-bright:	#4800ff;
	--background: 		#ededed;
}

// Unicorn mode theme
:root[data-theme='unicorn'] {
	--primary-bright:	#000000;
	--primary: 			#2e2e2e;
	--primary-dim:		#666666;
	--primary-dark:		#dfdfdf;
	--secondary: 		#ff00bb;
	--secondary-bright:	#feff00;
	--background: 		#ffffff;
}


