// Career component
@import '../../scss/mixins';

.section {
	.area {
		display: flex;
	
		.companyArea {
			display: flex;
			flex-direction: column;
		}
	}

	.company {
		position: relative;
		padding-left: calc( var(--grid-32) * 2 );
		padding-right: 1rem;
		padding-bottom: 4rem;

		h3 {
			margin-top: - .25rem;
			margin-bottom: .35rem;
		}

		h4 {
			font-size: .9rem;
			margin-bottom: .25rem;
			text-transform: none;
			letter-spacing: 0;
		}

		h5 {
			font-size: .9rem;
			margin-bottom: .25rem;
			opacity: .5;
		}

		p {
			margin-top: 2rem;
		}
	}

	.companyInfo {
		padding-bottom: 4rem;
		max-width: calc( var(--grid-32) * 20 );
	}

	.position {
		display: flex;
		flex-direction: column;
		padding-left: 2rem;

		&.first {
			.content {
				padding-bottom: 0;
			}
		}

		.content {
			position: relative;
			padding-bottom: 4rem;
			max-width: calc( var(--grid-32) * 18 );

			h3 {
				font-size: 1rem;
			}

			ul {
				margin-top: 1rem;
				
				li {
					margin-bottom: .75rem;
				}

				.subList {
					position: relative;
					margin-left: 2rem;
					margin-top: .5rem;
					display: block;
					color: var(--primary);

					.bullet {
						position: absolute;
						margin-left: -1.5rem;
						&:before {
							content: "⇒";
						}
					}
				}
				
			}
		}
	}
}

@include media($max: $mobile) {
	.section {
		.area {
			.companyInfo {
				max-width: 100%;
			}
			.position {
				.content {
					max-width: 100%;
				}
			}
			p {
				font-size: .8rem;
			}
			ul {
				li {
					font-size: .8rem;
				}
			}
		}
	}
}