// Career component
.section {
	.area {
		display: flex;
		$linesArea: 12.5%;
		$companyArea: calc(100% - $linesArea);
	
		.companyArea {
			display: grid;
			grid-template-columns: $linesArea $companyArea;
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			> div:last-of-type {
				&:before {
					content: none;
				}
			}
		}
	}

	.lines {
		content: '';
	}

	.company {
		position: relative;
		padding-left: calc( var(--grid-32) * 4 );
		padding-right: 1rem;
		padding-bottom: 4rem;

		&:before {
			content: '';
			position: absolute;
			width: 2px;
			top: 0;
			bottom: 0;
			left: -1px;
			background: var(--primary-dim);
		}

		&.row1 {
			&:before {
				background: var(--secondary);
			}
		}

		h3 {
			margin-top: - .25rem;
			margin-bottom: .35rem;
		}

		h4 {
			font-size: .9rem;
			margin-bottom: .25rem;
			text-transform: none;
			letter-spacing: 0;
		}

		h5 {
			font-size: .9rem;
			margin-bottom: .25rem;
			opacity: .5;
		}

		p {
			margin-top: 2rem;
		}

		h3 {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: calc( var(--grid-32) * -4 );
				width: 24px;
				aspect-ratio: 1/1;
				background-color: var(--primary-bright);
				border-radius: 99rem;
				border: 3px solid var(--background);
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:after {
				content: '';
				position: absolute;
				left: calc( var(--grid-32) * -4 );
				width: 15px;
				aspect-ratio: 1/1;
				background-color: var(--background);
				border-radius: 99rem;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.companyInfo {
		padding-bottom: 4rem;
		max-width: calc( var(--grid-32) * 20 );
	}

	.position {
		display: grid;
		grid-template-columns: calc( ( var(--grid-32) * 4 ) - 1rem ) 1fr;
		grid-template-columns: 0 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		&.connector {
			.content {
				&:before {
					content: none;
				}
			}
		}


		&.first {
			.content {
				padding-bottom: 0;
				//margin-bottom: 4rem;
			}
		}

		.content {
			position: relative;
			//padding-left: 2rem;
			padding-bottom: 4rem;
			max-width: calc( var(--grid-32) * 18 );

			h3 {
				font-size: 1rem;
				&:before,
				&:after {
					margin-left: 0rem;
				}
	
				&:before {
					width: 15px;
				}
				&:after {
					content: none;
				}
			}

			&:before {
				//content: "";
				position: absolute;
				width: 2px;
				top: 0;
				bottom: 0;
				left: -1px;
				background: var(--primary-dim);
			}
		}
	}
}