// Section
.section {
	background-color: var(--background-dim);

	h2 {
		font-size: var(--font-xl-l);
	}

	h4 {
		font-family: var(--font-accent);
		text-transform: none;
		font-size: var(--font-r-s);
		letter-spacing: .01rem;
	}

	.container {
		text-align: left;
		max-width: 700px;
	}

	.copy {
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	.jsonSub {
		line-height: .9;
		margin: 0.25rem 0;
		margin-left: 2rem;
	}
	
	.preHeader {
		font-family: var(--font-subheader);
		font-weight: 400;
		letter-spacing: -.05rem;
		font-size: 2rem;
	}
	.header {
		color: var(--secondary);
	}
	.subHeader {
		font-family: var(--font-subheader);
		color: var(--primary-bright);
		font-weight: 400;
		letter-spacing: -.05rem;
		text-align: right;
		font-size: 2rem;
	}

	.highlight {
		--looking-bg-1: var(--neon-1-1);
		--looking-bg-2: var(--neon-1-2);

		background: var(--bar-gradient);
		--bar-gradient: 
			linear-gradient( 
				90deg, 
				var(--looking-bg-1) -45%, 
				var(--looking-bg-2) 125%
			);

		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.highlight2 {
		--looking-bg-1: var(--neon-2-1);
		--looking-bg-2: var(--neon-2-2);

		background: var(--bar-gradient);
		--bar-gradient: 
			linear-gradient( 
				90deg, 
				var(--looking-bg-1) -45%, 
				var(--looking-bg-2) 125%
			);

		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}